.main-header {
    position: sticky;
    z-index: 10;
    margin-top: 2px;
    background: #fff;
    height: 50px;
    border-bottom: 1px solid #ddd;
}
.menu {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 3rem; 
}
.menu-item {
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    color: #222;
}

.menu-item:hover {
    background-color: #00274d;
    color: white;
}

.home-icon {
  font-size: 1.5rem;
}
