@import "tailwindcss";
button{
    cursor: pointer;
}
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}
.hero {
  background: url('./assets/hero.png') center;
  background-size: cover;
  color: #fff;
  text-align: center;
  height: 200px;
  padding: 2rem 2rem;
  position: relative;
}

/* LOGIN UI */
.login-modal-button {
  padding-top: 0.75rem;  
  padding-bottom: 0.75rem;
  padding-left: 2rem;    
  padding-right: 2rem;
  font-weight: 600; 
  border-radius: 0.25rem; 
  color: #ffffff;  
  transition: background-color 0.2s ease; 
  width: 92%;           
}
.login-button{
  background-color: #2563eb; 
}
.login-button:hover {
  background-color: #1d4ed8; 
}

.clear-button{
    background-color: #6B7280;
}
.clear-button:hover{
    background-color: #4B5563;
}

.cancel-button{
    background-color: #E5E7EB;
    color: #374151;
}
.cancel-button:hover{
    background-color: #D1D5DB; 
}
@media (min-width: 640px) {
  .login-modal-button {
    width: 80%;
  }
}

@media (min-width: 768px) { 
  .login-modal-button {
    width: auto;
  }
}